.auth-error-container-wrapper {
  display: flex;
  justify-content: center;
}

.auth-error-container {
  display: flex;
  align-items: center;
  width: 90%;
  background-color: #fee2e2;
  border: 1px solid #fecaca;
  border-radius: 6px;
  padding: 12px 16px;
  margin: 8px 0;
  justify-content: center;
}

.auth-error-icon {
  color: #dc2626;
  font-size: 20px;
  margin-left: 12px;
  flex-shrink: 0;
  cursor: pointer;
}

.auth-error-content {
  color: #991b1b;
  font-size: 14px;
  line-height: 1.5;
}

.auth-error-resend-button {
  align-self: center;
  font-size: 9px;
  text-align: center;
  background-color: #dc2626;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}